---
- name: Create Vector user
  user:
    name: vector
    system: yes
    shell: /sbin/nologin
    create_home: no

- name: Create Vector directories
  file:
    path: "{{ item }}"
    state: directory
    owner: vector
    group: vector
    mode: '0755'
  loop:
    - /etc/vector
    - /var/lib/vector
    - /var/log/vector

- name: Create Vector configuration
  copy:
    content: |
      # Vector configuration
      [sources]
        [sources.generator]
        type = "demo_logs"
        format = "json"
      
      [sinks]
        [sinks.console]
        type = "console"
        inputs = ["generator"]
        encoding.codec = "json"
    dest: /etc/vector/vector.toml
    owner: vector
    group: vector
    mode: '0644'
